<?xml version="1.0"?>
<launch>
    <!-- Record all sensor data from sensor nodes into one bag file-->
    <node name="record_sensor_data_noSLAM" pkg="rosbag" type="record" 
          args="-O ../../../rosbags/sensor_data_noSLAM.bag /mdl_topic /rad_topic /temp_topic /imu_topic" output="screen"> 
</launch>

