<?xml version="1.0"?>
<launch>
    <!-- Define the default prefix for the bag file name -->
    <arg name="bag_file_name" default="lidar_scan_data"/>
    
    <!-- Define the topics to record from the LiDAR -->
    <arg name="topic" default="/scan /tf"/>
    
    <!-- Generate a timestamp to ensure uniqueness -->
    <arg name="timestamp" default="$(eval eval ('_' + '_import_' +
    	 '_(\'datetime\')').datetime.now().strftime('(%Y-%m-%d-%H:%M:%S)'))"/>

    <!-- Include another launch file to start the X2 LiDAR driver -->
    <include file="$(find canary_lidar)/launch/ydlidar.launch" />

    <!-- Record LiDAR data to a bag file with the timestamp in the filename -->
    <node name="rosbag_lidar_record" pkg="rosbag" type="record"
          args="-O $(find canary_lidar)/rosbag/$(arg bag_file_name)_$(arg timestamp).bag 
          	$(arg topic)" 
          output="screen"/>

</launch>
