<?xml version="1.0"?>
<launch>
    <arg name="bag_file_name" default="imu_scan_data"/>

    <arg name="topic" default="/imu"/>
    
    <!-- Launch sensor nodes -->
    <node pkg="canary_pose" type="IMU_publisher.py" name="IMU_publisher_node" output="screen">
    </node>

    <!-- Start recording bagfile -->
    <node name="rosbag_imu_record" pkg="rosbag" type="record" args="-O $(find canary_pose)/rosbag/$(arg bag_file_name).bag $(arg topic)" output="screen"/>
</launch>
